[$Version]
update_info=spectacle_clipboard.upd:clipboard-settings-change,spectacle_rememberregion.upd:spectacle-migrate-rememberregion

[General]
autoSaveImage=true
clipboardGroup=PostScreenshotCopyImage

[GuiConfig]
captureDelay=1
includePointer=true
window-position=0,0

[Save]
defaultSaveLocation=file://{{ kde_plasma_role_user.home }}/Pictures/Screenshots
saveFilenameFormat=Screenshot_%Y_%M_%D-%H_%m_%S